build/
dist/
node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock
.DS_Store
Thumbs.db
*.pbw
*.pbz
*.pyc
*.pyo
*.swp
*.swo
*.orig
.env
.vscode/
.idea/
.pebble/
.waf*
.lock-waf_linux_build
.clangd
_codeql_detected_source_root
